.data-table{
    
    padding: 25px;
    

    .data-table-title{
      display: flex;
       justify-content:end;
       
        .link{
          background-color: #3A6B35;
          border: none;
          padding: 0.5em 2.2em;
          font-weight: 600;
          font-size: 0.9rem;
          border-radius: 5px;
          background-color: #E3B448;;
          color: rgb(255, 255, 255);
          cursor: pointer;
            &:hover{
                color: rgba(41, 133, 43, 0.888);
            }
        }
         
    }



    .action-column{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        .view-button{
          padding: 2px 5px;
          border-radius: 5px;
          color: darkblue;
          border: 1px double rgba(0, 0, 139, 0.289);
          cursor: pointer;
        }
        .delete-button{
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(208, 31, 31);
            border: 1px double rgba(129, 16, 16, 0.238);
          cursor: pointer;

        }
    }
}
