.single{
    display: flex;

    .singleContainer{
        flex: 6;
        
        

        .top{
           padding: 22px; 
           display: flex;
           gap: 25px;
            .left{
                flex: 1;
                box-shadow: 5px 6px 14px -1px rgba(196, 189, 189, 0.495);
                -webkit-box-shadow: 5px 6px 14px -1px rgba(185, 179, 179, 0.516);
                -moz-box-shadow: 5px 6px 14px -1px rgba(190, 184, 184, 0.51);
                border-radius: 5px;
                padding: 20px;
                position: relative;
                .editButton{
                    position: absolute;
                    top: 0;
                    right:0 ;
                    padding: 5px;
                    color: rgb(42, 14, 68);
                    background-color:rgba(42, 14, 68, 0.082) ;
                    border-radius: 0px 0px 0px 5px;
                    cursor: pointer;
                }
                
                padding: 15px;
                .item{
                  display: flex;
                  gap: 20px;
                    .itemImg{
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        object-fit: cover;

                    }

                    .details{
                        
                        .itemTitle{
                            margin-bottom: 10px;
                            font-size: 25px;
                            color: rgba(46, 44, 44, 0.882);

                        }

                        .detailItem{
                            margin-bottom: 10px; 
                            font-size: 15px;

                            .itemKey{
                                color: gray;
                                font-weight: bold;
                                margin-right: 5px;

                            }
                            
                        }
                    }
    
                }
            }

            .right{
                flex: 2;
                
            }
            
        }

        .bottom{
           
            margin: 5px 20px;
            padding: 20px;
            box-shadow: 6px 13px 17px -6px rgb(200, 189, 189);
           -webkit-box-shadow: 6px 13px 17px -6px rgb(205, 194, 194);
           -moz-box-shadow: 6px 13px 17px -6px rgb(204, 190, 190);
            border-radius: 5px;
        }

    }

    .title{
        font-size: 15px;
        margin-bottom: 20px;
        color: gray;
        font-weight: 600;
    }
}