.home{
    display: flex;
    
    .homeContainer{
        flex: 6;
        
    }

    .charts, .widgets{
        display: flex;
        gap: 20px;
        padding: 20px;
        
    }
    

    .charts{
    padding: 0px 25px;
    
    
    }

    
}


@media only screen and (max-width:600px) {

    html, body {
        overflow-x: hidden;
      }
    .home{
         
         height: 100vh;
         flex-direction: column;
         position: relative;
         
         .homeContainer{
          flex:15;
          margin: 0 0.5em;

          .widgets{
            display: flex;
            flex-direction: column;
            // border: 2px solid green;
            margin-bottom: 1em;
            height: 40%;
          }

          .charts{
            
            display: flex;
            flex-direction: column;
            // border: 2px solid rgb(12, 173, 231);
          }
          
        }

       
    }

    
}