.home {
  .charts,
  .widgets {
    display: flex;
    gap: 20px;
    padding: 2em;
  }

  .charts {
    padding: 0px 25px;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    .widgets {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      height: 40%;
    }

    .charts {
      display: flex;
      flex-direction: column;
      // border: 2px solid rgb(12, 173, 231);
    }
  }
}
