.widget{
    display: flex;
    justify-content: space-between;
    flex:1;
    height: 100%;
    padding: 10px;
    box-shadow: 5px 6px 14px -1px rgba(196, 189, 189, 0.495);
    -webkit-box-shadow: 5px 6px 14px -1px rgba(185, 179, 179, 0.516);
    -moz-box-shadow: 5px 6px 14px -1px rgba(190, 184, 184, 0.51);
     border-radius: 5px;

    .right, .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title{
        font-weight: bold;
        font-size: 0.9rem;
        color: #3A6B35;
    }

    .counter{
      font-size: 28px;
      font-weight: 300;
    }

    .link{
        width: max-content;
        font-size: 0.7rem;
        border-bottom: 1px solid #E3B448;
        color: #b08b33;
        cursor: pointer;
    }

    .percentage{
        display: flex;
        font-size: 13px;

      &.positive{
        color: green;
      }  

      &.negative{
        color: #ad1111;
        
      }
    }

    .widget-icon{
        font-size:1.2rem;
        align-self: flex-end;
        padding: 5px;
        border-radius: 5px;
    }
}

@media only screen and (max-width:600px) {
  .widget{
    height: 300px;
  }
}