.product-list-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 5em;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  .search {
    display: flex;
    align-items: center;
    border: 00.5px solid #dbb039;
    padding: 5px;
    border-radius: 5px;
    .icon {
      cursor: pointer;
    }

    input {
      border: none;
      outline: none;
      background-color: transparent;

      &::placeholder {
        font-size: 1rem;
      }
    }
  }

  .add-button {
    button {
      background-color: #3a6b35;
      border: none;
      padding: 0.5em 2.2em;
      font-weight: 600;
      font-size: 0.9rem;
      border-radius: 5px;
      background-color: #e3b448;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .product-list-header {
    width: 50em;
  }
}
