.changePhoto{
    display: flex;
    flex-direction: column;
    gap: 1em;
    .upload{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
       
        label {
            align-items: center;
            // margin-top: 20px;
            font-weight: bold;
            border: 2px solid  #3A6B35;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: transparent;
        }
    }
}