.change-photo{

    .profile-image{
        
            .form-image{
                height: 150px;
                width:150px;
                border-radius: 5px;
                object-fit: cover;
               }
        
    }
    
    
    .upload{
        
        text-align: center;
        padding: 0.5em;
        label {
            
            letter-spacing: 0.1px;
            cursor: pointer;
            padding: 0.3em 0.8em;
            font-weight: 600;
            font-size: 0.9rem;
            border-radius: 5px;
            background-color: #3A6B35;
            color: rgb(255, 255, 255);

        }
    }
}