.create-category{
 margin: 2.5em;
 box-shadow: 5px 6px 14px -1px rgba(196, 189, 189, 0.495);
-webkit-box-shadow: 5px 6px 14px -1px rgba(185, 179, 179, 0.516);
-moz-box-shadow: 5px 6px 14px -1px rgba(190, 184, 184, 0.51);
  border-radius: 5px;
  padding: 1.5em;
 
 
 .title{
  
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1em;
  border-bottom: 1px solid  #E3B448;
  width: 100%;
  
  
 }
 .body{
  
  display: flex;
  align-items: center;
  padding: 0 0.5em 1.5em 0.5em;
  gap: 10em;
  position: relative;
  
  .change-photo{
    margin-bottom: 1em;
   }
  .input{
    
    
    span{
      position: absolute;
      bottom: 0;
      left: 4%;
      font-size: 0.8rem;
      color: red;
    }

  }
 }

 .loading{
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
 }
 .submit{
  
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  button{
    background-color: transparent;
    border: 2px solid #3A6B35;
    color: #E3B448;
    border-radius: 40px;
    padding: 0.1em 1em;
    font-size: 1rem;
    width: 10%;
    cursor: pointer;
  }
 }
 
}