.create-category{
  flex: 0.7;
  box-shadow: 5px 6px 14px -1px rgba(196, 189, 189, 0.495);
 -webkit-box-shadow: 5px 6px 14px -1px rgba(185, 179, 179, 0.516);
 -moz-box-shadow: 5px 6px 14px -1px rgba(190, 184, 184, 0.51);
  border-radius: 5px;
  padding: 20px;
  display:block;
  
  position: relative;
  
  
  
 
 
 .title{
  
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1em;
  border-bottom: 1px solid  #E3B448;
  width: 100%;
  
  
  
 }
 .body{
  
  gap: 0.8em;
  display: flex;
  flex-direction: column;
  
  
  
  .change-photo{
    display: flex;
    margin-left: 1em;
   
   }

   .button-wrapper{
    background-color: rgb(233, 229, 19);
   } 
  
  }
 }
  
 
  
  

 

 
 
 

@media only screen and (max-width:600px){
  .create-category{
    flex: 1;
   
  }
}