.add-item{
    display: flex;
    height: 100vh;

    .right{
     background-color:#fafadc ;
     flex: 1;
     display: flex;
     align-items: center;
     padding: 2em 0;
     flex-direction: column;
     
     .add-item-form{
        
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-bottom: 2em;

     }
     
    }

    .left{
        
        flex: 1;
        display: flex;
        align-items: center;
        padding: 2em 0em;
        
       
    } 

   

   
}

@media only screen and (max-width:600px) {
     .add-item{
        flex-direction: column;
        overflow-x: scroll;
       
        .right{
           
        .add-item-form{
            align-items: center;
            width: 400px;
        }
        }

        .left{
            flex-direction: column;
            gap: 1em;
        }
     }
}