.grid-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    padding: 0 2.5em 2.5em 2.5em;
    gap:  2em;
    margin-bottom: 1em;
    position: relative;
    
    .paginationContainer{
      grid-column: 1 / 4;
      display: flex;
      justify-content: flex-end;
      
    }
    
  }