.app.dark{
    background-color: rgb(61, 54, 54);
    color: rgb(219, 227, 211);

    .chartGrid{
        stroke: rgb(113, 107, 107);
    }
    .table{
        background-color: rgb(61, 54, 54);
        
        .tableCell{
            color: rgb(168, 174, 162);
        }
    }
    .navbar{
        color: rgb(168, 174, 162);
        border-bottom: 0.5px solid rgba(229, 225, 225, 0.37);

        .search{
            border: 00.5px solid rgba(211, 211, 211, 0.327);
        }
    }
    .dataTable{

        .dataTableTitle{
            .link{
                color: rgb(120, 176, 64);
            }
        }
        .dataTableMain{
            color: rgb(192, 200, 184);
            border: none;
           
        }
    }
   

    .actionColumn{
        .viewButton{
            color: rgb(130, 130, 238);
            border: 1px double rgba(118, 118, 209, 0.289);
        }

        .deletButton{
            color: rgb(243, 93, 93);
            border: 1px double rgba(226, 86, 86, 0.238);
        }
    }

    .sidebar{


        background-color: rgb(61, 54, 54);
        color: rgb(168, 174, 162);
        border-right: 0.5px solid rgba(229, 225, 225, 0.37);

        .top{
            border-bottom: 0.5px solid rgba(229, 225, 225, 0.37); 
            .logo{
                color: rgb(192, 200, 184);
            }
        }

        .center{
            .icon{
                color: rgb(61, 127, 129);
            }
        }

        ul{
            li{
                &:hover{
                    background-color: rgba(233, 229, 229, 0.195);
                }
            }
        }
    }

    .new{
        .newContainer{
            .left{
                .changeProfile{
                  
                    .upload{
                        label{
                            border: 2px solid rgba(197, 196, 196, 0.329);
                            color: rgba(210, 201, 201, 0.849);
                        }
                       
                    }
                  
               }
            }
           
          
          .right{
            form{
                button{
                    border: 2px solid rgba(197, 196, 196, 0.329);
                    color: rgba(210, 201, 201, 0.849);
                }
            }
             }
        } 
    }

    .single{
        .singleContainer{
            .top{
                .left{
                    .details{
                        .itemTitle{
                           color: lightgray;
                        }
                    }
                }
            }
        }
    }
    
}

