@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;0,700;1,200;1,300&display=swap');

.sidebar{
   flex: 1.1; 
   border-right: 0.3px solid #CBD18F;
   min-height: 100vh;
   background-color: white;
   

   .top{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #CBD18F;
   
    .logo{
       font-size: 20px;
       font-weight: 700; 
       color: #E3B448;

       span{
        color: #3A6B35;
       }
    }
   }



   .center{
    
    
    ul{
        list-style: none;
        
        padding:0;
        

        

       

        
    }
   }

   .bottom{
    display: flex;
    align-items: center;
    margin: 10px;

    .color-option{
       border-radius: 5px;
       border: 1px solid #CBD18F; 
       width: 20px;
       height: 20px;
       cursor: pointer;
       margin-right: 5px;

       &:nth-child(1){
        background-color: whitesmoke;
       }


       &:nth-child(2){
        background-color: #333;
       }
    }
   }
}