.changeProfile{
   
    .upload{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
       
        label {
           
            align-items: center;
            margin-top: 25px;
            font-weight: bold;
            border: 2px solid rgba(128, 128, 128, 0.329);
            cursor: pointer;
            padding: 8px 18px;
            border-radius: 20px;
            color: rgba(105, 96, 96, 0.849);
            background-color: transparent;
        }
    }
}