.menu{
    .sidebar-menu{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        
        .sidebar-menu-item{
          position: relative;
          color: #3A6B35;
          cursor: pointer;

          .collapse.show{
            height: 166px;
            transition: height 0.5s;
            
           }

           
            
           }
           
           .fa-chevron-down.open{
            transform: rotate(180deg);
            transition: 0.5s;
           }

          .icon{
            margin-right:15px;
            margin-left: 20px;
           }
          
          .dropdownlink{
            color: #3A6B35;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            

           .fa-chevron-down{
             position: absolute;
             top: 0;
             right: 10px;
             transition: 0.5s;
            }
          }

          span{
            margin: 0;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            cursor: pointer;
            
            
          }

          .collapse{
            height: 0px;
            overflow: hidden;
            color: #3A6B35; 
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color:#dadfa6ec;
            transition: height 0.5s;
            
            

            
          
            
            

            li{
              padding: 10px 0px 10px 55px;
              cursor: pointer;
              
               &:hover{
                color:#E3B448;
               }
            }
            
            li.active{
              font-weight: 700;
            }
            
            
          }
        }

        .link{
          color:#3A6B35 ;
          border: none;
          text-decoration:none ;
        }
        .active{
          font-weight: 700;
        }

    }
 
    



ul{
    list-style: none;
  }
  


@keyframes drop-down{
  0%{
    height: 0px;
  }
  

  100%{
    height: 166px;
    
  }
} @keyframes drop-up{
  
  from{
    height: 166px;
    
  }
  100%{
    height: 0px;
  }
}