.table{
    .cellWrapper{
     
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .image{
        margin-right: 15px;
      }

    }

    .status{
        font-weight: 600;
        border-radius: 5px;
        padding: 5px;
       &.Approved{
        color: rgb(26, 182, 26);
        background-color: rgba(140, 212, 139, 0.33);
       }

       &.Pending{
        color: goldenrod;
        background-color: rgba(230, 230, 194, 0.362);
       }
    }


}