.screens-container{
    display: flex;
    .screens-section-container{
        flex: 6;
    }
}


@media only screen and (max-width:600px) {

    .screens-container{
         height: 100vh;
         flex-direction: column;
         position: relative;
         
         .screens-section-container{
          flex:15;
          margin: 0 0.5em;

          

          
          
        }

       
    }

    
}