.screen-container {
  display: flex;
  .screen-section-container {
    flex: 6;
  }
}

@media only screen and (max-width: 600px) {
  .screen-container {
    height: 100vh;
    flex-direction: column;
    position: relative;

    .screen-section-container {
      flex: 15;
      //   margin: 0 0.5em;
    }
  }
}
